<div class="relative flex h-screen w-full">
    <div class="h-full w-1/2 bg-black">
        <div class="mx-auto xl:w-1/2 flex h-full w-2/3 flex-col justify-center text-white">
            <div>
                <p class="text-2xl">Stackunderflow</p>
                <p>Melde dich an</p>
            </div>
            <div class="my-6">
                <button class="flex w-full justify-center rounded-lg border-none bg-white p-2 text-black hover:bg-gray-200"><img src="https://freesvg.org/img/1534129544.png" class="mr-2 w-6 object-fill" />Sign in with Google</button>
            </div>
            <div>
                <fieldset class="border-t border-solid border-gray-600">
                    <legend class="mx-auto px-2 text-center text-sm">Oder melde dich direkt über uns an</legend>
                </fieldset>
            </div>
            <div class="mt-10">
                <form>
                    <div>
                        <label class="mb-2.5 block font-extrabold" for="email">Email</label>
                        <input type="email" id="email" class="inline-block w-full rounded-lg bg-white p-2.5 leading-none text-black placeholder-indigo-900 shadow placeholder:opacity-30" placeholder=" z. B. max@mustermann.de" />
                    </div>
                    <div class="mt-4">
                        <label class="mb-2.5 block font-extrabold" for="email">Passwort</label>
                        <input type="password" id="password" class="inline-block w-full rounded-lg bg-white p-2.5 leading-none text-black placeholder-indigo-900 shadow placeholder:opacity-30" placeholder=" z. B. Abc123.*?" />
                    </div>
                    <div class="mt-4 flex w-full justify-between">
                        <div>
                            <input type="checkbox" id="remember" />
                            <label for="remember" class="mx-2 text-sm">Angemeldet bleiben</label>
                        </div>
                        <div>
                            <a href="#" class="text-sm hover:text-gray-400">Passwort vergessen ?</a>
                        </div>
                    </div>
                    <div class="my-10">
                        <button class="bg-green-600 p-4 w-full rounded-lg hover:bg-green-700">Anmelden</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="h-full w-1/2 bg-blue-600">
        <img src="https://images.unsplash.com/photo-1559336197-ded8aaa244bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y29kaW5nfGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="h-full w-full" />
    </div>
</div>

